footer{
	padding: 15px 10px 0 10px;
	background-color: #393d42;
	margin-top: 10px;
	color: white;
	width: 100%
}

.card-img-top{
	width: 50%;
}

.bg-info{
	background-image: url("/IMG/banner.jpg");
}

.jumbotron{
	background-color: darkblue;
	color: white;
	margin-top: 50px;
	background-image: url("/IMG/banner.jpg");
}

.card_services{
	flex: 1 200px;
	margin-top: 10px;
	margin-right: 10px;
}

.btn-reverse{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px; 
}

body{
	width: 100%;
}