.footer{
	padding: 10px 10px 0 10px;
	background-color: lightblue;
	margin-bottom: 0px;  
	margin-top: 10px;
}

.jumbotron{
	background-color: darkblue;
	color: white;
	margin-top: 50px;
}

.card_services{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reverse{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px; 
}